venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
data/*
!data/.gitkeep
outputs/checkpoints/*
!outputs/checkpoints/.gitkeep
outputs/manifests/*
!outputs/manifests/.gitkeep
cache/*
!cache/.gitkeep
*.pt
*.pth
*.npy
*.csv
.DS_Store
.env
